################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/01_basic_env/bin
/01_basic_env/build
/Ref
/03_code_framework/build
/03_code_framework/.vscode
/00_ref
/04_model/build
/05_Multiple_Textures/.vscode
/05_Multiple_Textures/build
/04_model/.vscode
